<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="HopeCard"
        android:supportsRtl="true"
        android:theme="@style/Theme.HopeCard">

        <activity
            android:name="com.example.hopecard.ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hopecard.ui.forgot.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hopecard.ui.forgot.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hopecard.ui.forgot.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hopecard.ui.signup.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
